// Abstracts
@use '../../abstracts/' as *;

// Component
.budget {
    display: block;
    margin-bottom: 30px;
    font-size: $font-size-budget-total;

    &--center {
        text-align: center;
    }
}
