// Abstracts
@use '../abstracts' as *;

// Vendors
@use '../vendors/sass-mq/mq' as *;

// BEM Blocks
.c-form {
    padding: 15px;
    background-color: $color-form-background;
}

// BEM Elements
.c-form__field {
    display: block;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    color: $color-form-text;
    font-size: $font-size-form-text;
    background-color: $color-form-field-background;
    border: $border-form-field;
    outline: inherit;
    -webkit-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;

    @include mq($from: tablet) {
        height: inherit;
        margin-right: 10px;
        margin-bottom: inherit;
    }
}

.c-form__field--fullWidth {
    width: 100%;

    @include mq($from: tablet) {
        width: inherit;
    }
}

.c-form__field--type {
    @include mq($from: tablet) {
        width: 60px;
    }
}

.c-form__field--description {
    @include mq($from: tablet) {
        width: 400px;
    }
}

.c-form__field--value {
    @include mq($from: tablet) {
        width: 100px;
    }
}

.c-form__btn {
    padding: 0;
    color: $color-form-btn;
    font-size: $font-size-form-btn;
    background: none;
    border: inherit;
    cursor: pointer;
}

.c-form__btn--active {
    &:active {
        -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
        transform: translateY(2px);
    }
}

.c-form__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.c-form__row {
    text-align: center;
}

.c-form__container {
    @include mq($from: tablet) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.c-form__container--row {
    @include mq($from: tablet) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.c-form__container--center {
    @include mq($from: tablet) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
