// Abstracts
@use '../abstracts' as *;

// Vendors
@use '../vendors/sass-mq/mq' as *;

// BEM Blocks
.c-item {
    font-size: $font-size-item;
    border-bottom: $border-item;

    &:first-child {
        border-top: $border-item;
    }
}

// BEM Elements
.c-item__value {
    margin-right: 10px;
}

.c-item__percentage {
    margin-right: 10px;
    padding: 5px;
    color: $color-expense;
    background-color: $color-expense-background;
    border-radius: 3px;
}

.c-item__percentage--center {
    text-align: center;
}

.c-item__delete {
    padding: 0;
    color: $color-item-btn;
    font-size: $font-size-item-btn;
    background: none;
    border: initial;
    cursor: pointer;
}

.c-item__delete--active {
    &:active {
        -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
        transform: translateY(2px);
    }
}

.c-item__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.c-item__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
}

.c-item__container--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.c-item__container--spaceBetween {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.c-item__container--itemsCenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
