// Abstracts
@use '../../global/abstracts/' as *;

// Color
$color-form-background: #97b6da;
$color-form-error: #ed6663;
$color-form-field-background: #fff;
$color-form-text: #555;
$color-form-btn: #555;

// Border
$border-form-field: 1px solid #e7e7e7;

// Font-size
$font-size-form-text: 1.5rem;
$font-size-form-btn: 4rem;

// Component
.form {
    padding: 15px;
    text-align: center;
    background-color: $color-form-background;

    &__field {
        display: block;
        width: 100%;
        height: 40px;
        padding: 0 0 0 10px;
        color: $color-form-text;
        font-size: $font-size-form-text;
        background-color: $color-form-field-background;
        border: $border-form-field;
        outline: inherit;
        transition: border 0.3s;
    }

    &__submit {
        height: 40px;
        padding: 0;
        color: $color-form-btn;
        font-size: $font-size-form-btn;
        background: none;
        border: inherit;
        cursor: pointer;

        @include mq($from: tablet) {
            margin-left: 30px;
        }

        &--active {
            &:active {
                transform: translateY(2px);
            }
        }
    }

    &__icon {
        display: block;
    }

    &__error {
        display: block;
        margin-top: 5px;
        color: $color-form-error;
        font-size: $font-size-form-text;
        text-align: left;

        &--display {
            display: none;
        }
    }

    &__row {
        margin-bottom: 15px;

        @include mq($from: tablet) {
            margin-bottom: inherit;
        }

        &--description {
            @include mq($from: tablet) {
                width: 400px;
            }
        }

        &--value {
            @include mq($from: tablet) {
                width: 100px;
            }
        }

        &--type {
            @include mq($from: tablet) {
                width: 100px;
            }
        }
    }

    &__container {
        @include mq($from: tablet) {
            display: flex;
        }

        &--row {
            @include mq($from: tablet) {
                flex-direction: row;
            }
        }

        &--center {
            @include mq($from: tablet) {
                justify-content: center;
            }
        }
    }
}
