// Abstracts
@use '../abstracts' as *;

// Vendors
@use '../vendors/sass-mq/mq' as *;

// BEM Blocks
.l-wrapper {
    max-width: $breakpoint-xl;
    margin: 50px auto;
}

// BEM Elements
.l-wrapper__container {
    @include mq($from: tablet) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.l-wrapper__container--row {
    @include mq($from: tablet) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.l-wrapper__container--spaceBetween {
    @include mq($from: tablet) {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
