// Abstracts
@use '../../abstracts/' as *;

// Color
$color-app-background: #fff;
$color-app-text: #555;

// Font-family
$font-family-app: 'ABeeZee-Regular', sans-serif;

// Component
.app {
    color: $color-app-text;
    font-family: $font-family-app;
    background-color: $color-app-background;

    &__header {
        margin: 0 auto;

        @include mq($from: tablet) {
            max-width: 350px;
        }
    }

    &__inner {
        max-width: $breakpoint-xl;
        margin: 50px auto;
        padding: 0 15px;
    }

    &__container {
        @include mq($from: tablet) {
            display: flex;
        }

        &--row {
            @include mq($from: tablet) {
                flex-direction: row;
            }
        }

        &--spaceBetween {
            @include mq($from: tablet) {
                justify-content: space-between;
            }
        }
    }

    &__income {
        @include mq($from: tablet) {
            width: 45%;
        }
    }

    &__expense {
        @include mq($from: tablet) {
            width: 45%;
        }
    }

    &__incomeTransaction {
        padding: 30px 0 50px;
    }

    &__expenseTransaction {
        padding: 30px 0;
    }
}
