// Abstracts OLD
@use '../../abstracts/' as *;

// Color
$color-title-income: #43658b;
$color-title-expense: #ed6663;

// Font-size
$font-size-title: 2rem;

// Component
.title {
    margin-bottom: 30px;
    font-size: $font-size-title;

    &--center {
        text-align: center;
    }

    &--income {
        margin-bottom: 0;
        color: $color-title-income;
        text-transform: uppercase;
    }

    &--expense {
        margin-bottom: 0;
        color: $color-title-expense;
        text-transform: uppercase;
    }
}
