// Abstracts
@use '../../abstracts/' as *;

// Component
.card {
    padding: 0 15px;
    text-transform: uppercase;

    &--income {
        margin-bottom: 10px;
        background-color: $color-income;
    }

    &--expense {
        background-color: $color-expense;
    }

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 60px;
    }

    &__container--row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    &__container--spaceBetween {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    &__container--itemsCenter {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &__percentage {
        margin-left: 10px;
        padding: 5px;
        background-color: $color-expense-background;
        border-radius: 3px;

        &--center {
            text-align: center;
        }
    }
}
