// Abstracts OLD
@use '../../abstracts/' as *;

// Color
$color-card-expense-background: #ed6663;
$color-card-income-background: #43658b;
$color-card-percentage-background: #ffcda3;
$color-card-text: #fff;

// Font-size
$font-size-card: 1.5rem;

// Component
.card {
    padding: 0 15px;
    color: $color-card-text;
    font-size: $font-size-card;
    text-transform: uppercase;

    &--income {
        margin-bottom: 10px;
        background-color: $color-card-income-background;
    }

    &--expense {
        background-color: $color-card-expense-background;
    }

    &__container {
        display: flex;
        height: 60px;
    }

    &__container--row {
        flex-direction: row;
    }

    &__container--spaceBetween {
        justify-content: space-between;
    }

    &__container--itemsCenter {
        align-items: center;
    }

    &__percentage {
        margin-left: 10px;
        padding: 5px;
        background-color: $color-card-percentage-background;
        border-radius: 3px;

        &--center {
            text-align: center;
        }
    }
}
