// Abstracts
@use '../../abstracts/' as *;

// Vendors
@use '../../vendors/sass-mq/mq' as *;

.header {
    padding: 50px 15px;
    color: $color-budget-content;
    font-size: $font-size-budget-content;

    @include mq($from: tablet) {
        padding: 50px 0;
    }
}
