// Colors
$color-site-background: #83acc6;
$color-site-content: #555;
$color-border: #e7e7e7;
$color-budget-content: #fff;
$color-form-background: #ffcda3;
$color-form-field-background: #fff;
$color-form-text: #555;
$color-form-btn: #555;
$color-income: #43658b;
$color-expense: #ed6663;
$color-expense-background: #ffcda3;
$color-item-btn: #555;
