// Font Sizes
$font-size-title: 2rem;
$font-size-budget-total: 5rem;
$font-size-budget-content: 1.5rem;
$font-size-form-text: 1.5rem;
$font-size-form-btn: 4rem;
$font-size-item: 1.5rem;
$font-size-item-btn: 2.5rem;

// Font Family
$font-family-base: sans-serif;
$font-family-site: 'ABeeZee-Regular';
