// Abstracts
@use '../../abstracts/' as *;

// Vendors
@use '../../vendors/sass-mq/mq' as *;

.transaction {
    font-size: $font-size-item;
    border-bottom: $border-item;

    &:first-child {
        border-top: $border-item;
    }

    &__value {
        margin-right: 10px;
    }

    &__percentage {
        margin-right: 10px;
        padding: 5px;
        color: $color-expense;
        background-color: $color-expense-background;
        border-radius: 3px;

        &--center {
            text-align: center;
        }
    }

    &__delete {
        padding: 0;
        color: $color-item-btn;
        font-size: $font-size-item-btn;
        background: none;
        border: initial;
        cursor: pointer;

        &--active {
            &:active {
                -webkit-transform: translateY(2px);
                -ms-transform: translateY(2px);
                transform: translateY(2px);
            }
        }
    }

    &__icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 60px;

        &--row {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        &--spaceBetween {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        &--itemsCenter {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
}
