// Abstracts
@use '../../abstracts/' as *;

// Variables
$color-transaction-border: rgb(134, 134, 134);
$color-transaction-btn: #555;
$border-transaction: 1px solid $color-transaction-border;

// Component
.transaction {
    padding: 0 10px;
    font-size: $font-size-item;
    border-bottom: $border-transaction;

    &:first-child {
        border-top: $border-transaction;
    }

    &__value {
        margin-right: 10px;
    }

    &__percentage {
        margin-right: 10px;
        padding: 5px;
        color: $color-expense;
        background-color: $color-expense-background;
        border-radius: 3px;

        &--center {
            text-align: center;
        }
    }

    &__delete {
        padding: 0;
        color: $color-transaction-btn;
        font-size: $font-size-item-btn;
        background: none;
        border: initial;
        cursor: pointer;

        &--active {
            &:active {
                transform: translateY(2px);
            }
        }
    }

    &__icon {
        display: flex;
    }

    &__container {
        display: flex;
        height: 60px;

        &--row {
            flex-direction: row;
        }

        &--spaceBetween {
            justify-content: space-between;
        }

        &--itemsCenter {
            align-items: center;
        }
    }
}
