// Abstracts OLD
@use '../abstracts/' as *;

// Font-family
$font-family-base: 'ABeeZee-Regular';

// Base
@font-face {
    font-family: $font-family-base;
    src: url('./fonts/abeezee/ABeeZee-Regular.ttf') format('truetype');
}

html {
    font-size: 62.5%;
}

* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
}

input {
    appearance: none;
}
